<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quilt-It</title>
    <link rel="stylesheet" href="">
    <style>
    </style>
</head>
<body class="container">

<header>
    <h1>Quilt-It</h1>
    <h2>Welcome <%= user %></h2>
    
    <h3>My Quilts: </h3>
    <ul>
        <% quilts.forEach(function(quilt) { %>
            <li><%= quilt.name %></li>
        <% }); %>
    </ul>
</header>

<main>
    
</main>

<footer>
</footer>

</body>
</html>